@font-face {
    font-family: 'Madimi One';
    src: url('../fonts/MadimiOne-Regular.woff2') format('woff2'),
        url('../fonts/MadimiOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}